Repository IQSS/dataverse-marketplace, pull requests merged in 2025-05, with the labels that each got.

#21 Implement owner functionality for external tools
  dv-marketplace/src/components/UI/Navigation/NavOptions.tsx
  dv-marketplace/src/components/pages/MarketplaceHome/MarketplaceHome.tsx
  dv-marketplace/src/components/pages/MarketplaceHome/useMarketplaceHome.tsx
  dv-marketplace/src/components/pages/ViewExternalTool.tsx
  src/main/java/org/dataverse/marketplace/controller/api/ExternalToolController.java
  src/main/java/org/dataverse/marketplace/controller/api/ExternalToolVersionController.java
  src/main/java/org/dataverse/marketplace/model/MarketplaceItem.java
  src/main/java/org/dataverse/marketplace/model/User.java
  src/main/java/org/dataverse/marketplace/openapi/annotations/ExternalToolsAPIDocs.java
  src/main/java/org/dataverse/marketplace/payload/ExternalToolDTO.java
  src/main/java/org/dataverse/marketplace/payload/auth/UserDTO.java
  src/main/java/org/dataverse/marketplace/repository/ExternalToolRepo.java
  src/main/java/org/dataverse/marketplace/security/ApplicationRoles.java
  src/main/java/org/dataverse/marketplace/service/ExternalToolService.java
  src/main/resources/db/migration/V1_0_2__user_changes.sql
  src/test/java/org/dataverse/marketplace/ExternalToolsTest.java
  src/test/java/org/dataverse/marketplace/TestUtils.java
Labels: Size: 10, Marketplace, FY25 Sprint 22, FY25 Sprint 23

#24 Node versions update
  dv-marketplace/package-lock.json
  dv-marketplace/package.json
  dv-marketplace/vite.config.ts
Labels: Size: 0.5, Marketplace, FY25 Sprint 23

#23 Refactor NavigationBar and useLoginCustomForm to utilize dynamic BASE…
  dv-marketplace/src/components/UI/Navigation/NavigationBar.tsx
  dv-marketplace/src/components/forms/LoginForm/LoginForm.tsx
  dv-marketplace/src/components/forms/LoginForm/useLoginCustomForm.ts
  dv-marketplace/src/repositories/useMarketplaceApiRepo.ts
Labels: Size: 0.5, Marketplace, FY25 Sprint 23

#29 update dependency version for springdoc-openapi and correct schema ty…
  pom.xml
  src/main/java/org/dataverse/marketplace/openapi/annotations/AuthAPIDocs.java
  src/main/java/org/dataverse/marketplace/openapi/annotations/ExternalToolsAPIDocs.java
Labels: Size: 0.5, Marketplace, FY25 Sprint 23

#46 Fixes add functionality on swagger and completes some of the documentation.
  src/main/java/org/dataverse/marketplace/controller/api/ExternalToolController.java
  src/main/java/org/dataverse/marketplace/controller/api/ReferenceController.java
  src/main/java/org/dataverse/marketplace/openapi/annotations/ExternalToolsAPIDocs.java
  src/main/java/org/dataverse/marketplace/openapi/annotations/ReferenceControllerAPIDocs.java
  src/main/java/org/dataverse/marketplace/openapi/annotations/ResourceStorageAPIDocs.java
  src/main/java/org/dataverse/marketplace/payload/AddVersionRequest.java
  src/main/java/org/dataverse/marketplace/payload/UpdateVersionRequest.java
Labels: Size: 30, Marketplace, FY25 Sprint 24
